@font-face {
  font-family: "Futurist Fixed-width";
  src: url("../fonts/FUTRFW.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue LT Std 45 Light";
  src: url("../fonts/HelveticaNeueLTStd Lt.woff") format("woff"); }

@font-face {
  font-family: "Adobe Garamond Pro Bold";
  src: url("../fonts/AGaramondPro-Bold.woff") format("woff"); }

@font-face {
  font-family: "Adobe Garamond Pro Italic";
  src: url("../fonts/AGaramondPro-Italic.woff") format("woff"); }

body {
  background: url("/resources/images/background.jpg") no-repeat center fixed; }

.indexButton {
  width: 100%;
  font-family: "Helvetica Neue LT Std 45 Light";
  font-weight: lighter;
  font-size: 24px;
  background: none;
  padding: 0;
  border: none; }
  .indexButton #i-dashboard {
    border: none;
    background: url("/resources/buttons/TitanBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px; }
    .indexButton #i-dashboard:hover {
      border: 1px solid black; }
    .indexButton #i-dashboard span {
      color: #F3F0ED; }
  .indexButton #i-joinup {
    border: none;
    background: url("/resources/buttons/HunterBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px; }
    .indexButton #i-joinup:hover {
      border: 1px solid black; }
    .indexButton #i-joinup span {
      color: #F3F0ED; }
  .indexButton #i-about {
    border: none;
    background: url("/resources/buttons/WarlockBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px; }
    .indexButton #i-about:hover {
      border: 1px solid black; }
    .indexButton #i-about span {
      color: #F3F0ED; }

.title {
  font-family: "Helvetica Neue";
  font-weight: lighter; }

.form-group {
  color: #F3F0ED; }

.form-control {
  font-family: "Futurist Fixed-width";
  background: #F3F0ED;
  opacity: 0.4;
  border: 1px solid #F3F0ED; }

.btn {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 48px;
  color: #F3F0ED;
  background: transparent;
  border: none; }
  .btn:hover {
    background: transparent; }
