@font-face {
  font-family: "Futurist Fixed-width";
  src: url("../fonts/FUTRFW.woff") format("woff"); }

@font-face {
  font-family: "Helvetica Neue LT Std 45 Light";
  src: url("../fonts/HelveticaNeueLTStd Lt.woff") format("woff"); }

@font-face {
  font-family: "Adobe Garamond Pro Bold";
  src: url("../fonts/AGaramondPro-Bold.woff") format("woff"); }

@font-face {
  font-family: "Adobe Garamond Pro Italic";
  src: url("../fonts/AGaramondPro-Italic.woff") format("woff"); }

body {
  background: url("/resources/images/background.jpg") repeat center fixed;
  color: #F3F0ED; }

button {
  color: #F3F0ED; }

a {
  color: #F3F0ED; }
  a:hover {
    color: #F3F0ED; }

hr {
  border: 0.25px solid #504E4C; }

h3 {
  font-family: "Helvetica Neue";
  color: #504E4C;
  width: 200px;
  height: 50px;
  position: relative; }
  h3:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    top: -5px;
    right: 0px;
    border: 2px solid #504E4C; }

.indexButton {
  width: 100%;
  font-family: "Helvetica Neue LT Std 45 Light";
  font-weight: lighter;
  font-size: 24px;
  background: none;
  padding: 0;
  border: none; }
  .indexButton #i-dashboard {
    border: none;
    background: url("/resources/buttons/TitanBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px;
    color: #F3F0ED; }
    .indexButton #i-dashboard:hover {
      border: 1px solid black; }
  .indexButton #i-joinup {
    border: none;
    background: url("/resources/buttons/HunterBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px; }
    .indexButton #i-joinup:hover {
      border: 1px solid black; }
  .indexButton #i-about {
    border: none;
    background: url("/resources/buttons/WarlockBanner.png") center/cover no-repeat;
    width: 283px;
    height: 72px; }
    .indexButton #i-about:hover {
      border: 1px solid black; }

.splash {
  background: none;
  font-family: "Futurist Fixed-width"; }

@media (min-width: 768px) {
  .splash {
    background: url("/resources/images/splash_image1.jpg") right/cover no-repeat; } }

.title {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #504E4C; }

.form-group {
  color: #F3F0ED; }

.form-control {
  font-family: "Futurist Fixed-width";
  background: #F3F0ED;
  opacity: 0.4;
  border: 1px solid #F3F0ED; }

.btn {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 48px;
  color: #F3F0ED;
  background: transparent;
  border: none; }
  .btn:hover {
    background: transparent; }

footer {
  font-family: "Helvetica Neue LT Std 45 Light";
  font-size: 1rem;
  border-top: 5px solid #AA6B66;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(grey));
  background-image: linear-gradient(90deg, black, grey); }

.alert {
  background: -webkit-gradient(linear, left top, right top, from(grey), to(black));
  background: linear-gradient(90deg, grey, black);
  border-radius: 0;
  border: 0; }

.invBtn {
  font-size: 1.5rem; }

.test {
  border: 1px solid green; }

.test2 {
  border: 1px solid red; }
