//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "vars";
@import "type";
@import "mixins";

@include font-face("Futurist Fixed-width", "../fonts/FUTRFW" , null, null, woff);
@include font-face("Helvetica Neue LT Std 45 Light", "../fonts/HelveticaNeueLTStd Lt", null, null, woff);
@include font-face("Adobe Garamond Pro Bold", "../fonts/AGaramondPro-Bold", null, null, woff);
@include font-face("Adobe Garamond Pro Italic", "../fonts/AGaramondPro-Italic", null, null, woff);

//@font-face {
//  font-family: 'Futurist Fixed-width';
//  font-style: normal;
//  font-weight: normal;
//  src: local('Futurist Fixed-width'), url('../css/FUTRFW.woff') format('woff');
//
//}
//
//@font-face {
//  font-family: 'Helvetica Neue LT Std 45 Light';
//  font-style: normal;
//  font-weight: normal;
//  src: local('Helvetica Neue LT Std 45 Light'), url('../css/HelveticaNeueLTStd Lt.woff') format('woff');
//}
//
//@font-face {
//  font-family: 'Adobe Garamond Pro Bold';
//  font-style: normal;
//  font-weight: normal;
//  src: local('Adobe Garamond Pro Bold'), url('../css/AGaramondPro-Bold.woff') format('woff');
//}
//
//@font-face {
//  font-family: 'Adobe Garamond Pro Italic';
//  font-style: normal;
//  font-weight: normal;
//  src: local('Adobe Garamond Pro Italic'), url('../css/AGaramondPro-Italic.woff') format('woff');
//}


body{
  background: url('/resources/images/background.jpg') repeat center fixed;
  color: $text-content-color;
}

button{
  color: $text-content-color;

}

a{
  color: $text-content-color;
  &:hover{
    color: $text-content-color;
  }
}

hr{
  border: 0.25px solid $text-title-color;
}

h3{
  font-family: "Helvetica Neue";
  color: $text-title-color;
  width: 200px;
  height: 50px;
  //border: 2px solid $text-title-color;
  position: relative;



  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    top: -5px;
    right: 0px;
    border: 2px solid $text-title-color;

  }
}

//--------------------------------------------------------------------

//                       Index Page

//--------------------------------------------------------------------


.indexButton{
  width: 100%;
  font-family: "Helvetica Neue LT Std 45 Light";
  font-weight: lighter;
  font-size: 24px;
  background: none;
  padding: 0;
  border: none;


  #i-dashboard{
    border: none;
    background: url('/resources/buttons/TitanBanner.png')center / cover no-repeat;
    width: 283px;
    height: 72px;
    color: $text-content-color;

    &:hover{
      border: 1px solid black;
    }
  }

  #i-joinup{
    border: none;
    background: url('/resources/buttons/HunterBanner.png')center / cover no-repeat;
    width: 283px;
    height: 72px;
    &:hover{
      border: 1px solid black;
    }
  }

  #i-about{
    border: none;
    background: url('/resources/buttons/WarlockBanner.png')center / cover no-repeat;
    width: 283px;
    height: 72px;
    &:hover{
      border: 1px solid black;
    }
  }

}
.splash{
  background: none;

  font-family: "Futurist Fixed-width";
}

@media (min-width: 768px){
  .splash{
    background: url('/resources/images/splash_image1.jpg') right / cover no-repeat;

  }
}






//--------------------------------------------------------------------

//                       Join Up Page

//--------------------------------------------------------------------

.title{
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: $text-title-color;
}

.form-group{
  color: $text-content-color;
}

.form-control{
  font-family: "Futurist Fixed-width";
  background: $text-content-color;
  opacity: 0.4;
  border: 1px solid $text-content-color;
}

.btn{
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 48px;
  color: $text-content-color;
  background: transparent;
  border: none;

  &:hover{
    background: transparent;
  }


}


//--------------------------------------------------------------------

//                       Dashboard Page

//--------------------------------------------------------------------






//--------------------------------------------------------------------

//                       Footer

//--------------------------------------------------------------------

footer{
  font-family: "Helvetica Neue LT Std 45 Light";
  font-size: 1rem;

  border-top: 5px solid $content-red-color;
  background-image: linear-gradient(90deg, black, grey);

}
.alert{
  background: linear-gradient(90deg, grey, black);
  border-radius: 0;
  border: 0;

}




//--------------------------------------------------------------------

//                       Inventory Page

//--------------------------------------------------------------------

.invBtn{
  font-size: 1.5rem;
}






.test{
  border: 1px solid green;
}

.test2{
  border: 1px solid red;
}


